@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body{
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='' cx='500' cy='100' r='40'/%3E%3Cpath transform='' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
  .navbar {
    overflow: hidden;
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border-bottom: solid 1px #e1e1e1;
  }
  .navbar h4 {
    font-family: 'Inter', sans-serif;
    float: left;
    display: block;
    color: black;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar .search-container {
    float: right;
    border-radius: 10px;
  
  }
  
  .navbar input[type="text"] {
    padding: 4px;
    margin-top: 8px;
    font-size: 17px;
    border: solid 1px black;
    border-right: none;
  }
  
  .navbar .search-container button {
    float: right;
    padding: 4px 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: solid rgba(0,0,0,0.8);
    cursor: pointer;
  }
  
  .navbar .search-container button:hover {
    background: #ccc;
  }
  
  #wrapper{
      margin: 0% 20% 0% 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  li{
      list-style: none;
  }
  .notes{
      margin-top: 10%;
      background-color: #F8F8FF;
      padding:5% 5% 5% 5%;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
  }
  
  .notes:hover{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.65);
  }
  .notes p{
      font-size: 22px;
      font-weight: 500;
  }
  .notes span{
      display: block;
      color: black;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .navbar .search-container {
      float: right;
      border-radius: 10px;
    
    }
    
    .navbar input[type="text"] {
      padding: 4px;
      margin-top: 8px;
      font-size: 17px;
      border: solid 1px black;
      border-right: none;
    }
    
    .navbar .search-container button {
      float: right;
      padding: 4px 6px;
      margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: solid rgba(0,0,0,0.8);
      cursor: pointer;
    }
    
    .navbar .search-container button:hover {
      background: #ccc;
    }
    
    #wrapper{
        margin: 0% 20% 0% 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    li{
        list-style: none;
    }
    .notes{
        margin-top: 10%;
        background-color: #F8F8FF;
        padding:5% 5% 5% 5%;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    }
    
    .notes:hover{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.65);
    }
    .notes p{
        font-size: 22px;
        font-weight: 500;
    }
    .notes span{
        display: block;
        margin-top: 5px;
        color: #575757;
        font-size: 16px;
    }
    
    .tags{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 5%;
    }   
    .tags > li > button{
        background-color: #E6E6FA;
        padding: 5px 5px 5px 5px;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }
    
    button:hover{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    }
  
  
  
  
  
  /* * Post widget * */
  .btn {
    padding: .5em 1em;
  
    background-color: transparent;
    color: #6b7270;
  
    border: none;
    cursor: pointer;
  }
  
  .widget-post {
    height: auto;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    box-shadow: 0 1px 2px 1px rgba(130, 130, 130, 0.1);
  
    background-color: #fff;
  
    margin: 1% 22% 2% 22%;
    overflow: hidden;
  }
  
  .widget-post__header {
    padding: .2em .5em;
    text-align: center;
    font-family: 'Inter', sans-serif;
  }
  
  .widget-post__title {
    font-size: 18px;
  }
  
  .widget-post__textarea {
    width: 100%;
    height: 100%;
    padding: .5em;
  
    border: none;
    resize: none;
  }
  
  .widget-post__textarea:focus {
    outline: none;
  }
  
  .post-actions__label {
    cursor: pointer;
  }
  
  .post--actions {
    position: relative;
    padding: .5em;
  
    background-color: #E6E6FA;
    color: black;
  }
  
  .post-actions__attachments {
    display: inline-block;
    width: 60%;
  }
  
  .attachments--btn {
    background-color: white;
    color: black;
  
    border-radius: 1.5em;
  }
  
  .post-actions__widget {
    display: inline-block;
    width: 38%;
    text-align: right;
  }
  
  .post-actions__publish {
    width: 120px;
  
    background-color: #008391;
    color: #fff;
  
    border-radius: 1.5em;
  }
  
  .scroller::-webkit-scrollbar {
    display: none;
  }
  
  .is--hidden {
    display: none;
  }
  
  
  /* * SR * */
  .sr-only {
    width: 1px;
    height: 1px;
  
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
  
    overflow: hidden;
    white-space: nowrap;
  
    position: absolute;
    top: 0;
  
  }
  
  
  /* *  Placeholder contrast * */
  ::-webkit-input-placeholder {
    color: #666;
  }
  ::-moz-placeholder {
    color: #666;
  }
  :-ms-input-placeholder {
    color: #666;
  }
  :-moz-placeholder {
    color: #666;
  }

  /*Animations*/
.fade-in {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2;
    -ms-animation: fadeIn 2s;
  }
  .fade-in-title {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 21;
    -ms-animation: fadeIn 1s;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }